PORT = 5000
MONGODB_URI = MONGO_URI = mongodb://localhost:27017/bookmyspot
EMAIL_USER = bookmyspot.noreply@gmail.com
EMAIL_PASS = uqte ypkz ebhi ndph
JWT_SECRET = 0987654321234567890 // secret jwt token 
